@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    background-color: white;
}
.navbar {
    background-color:  #23B136;
    border-bottom: #2CDB43 10px solid;
}

.navbar-item {
    color: black;
    background-color: #2CDB43;
}

.navbar-item:hover {
    background-color: #166D21;
    color: white;
}

.navbar-image img {
    height: 80px;
}

.custom-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

section {
    background-color: white;
}

.custom-margin {
    margin-right: 8px;
}

 .article-container {
     max-width: 350px;
 }

.custom-button {
    background-color: #166D21;
    color: white;
}

.custom-button:hover {
    background-color: #145A1C;
}

.bg-footer {
    background-color: #166D21;
    color: black;
}

.bg-footer-top {
    background-color: #2CDB43;
}

button:hover {
    background-color: #8C8C8C;
}

.box-last {
    margin-bottom: 1.5rem;
}