@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.bg-footer {
    background-color: #166D21;
    color: black;
}

.bg-footer-top {
    background-color: #2CDB43;
}

button:hover {
    background-color: #8C8C8C;
}

.box-last {
    margin-bottom: 1.5rem;
}