* {
    --white: #FFF;
    --lightGrey: #A7A7A7;
    --darkGrey: #8C8C8C;
    --black: #000;
    --lightGreen: #2CDB43;
    --darkerGreen: #23B136;
    --darkestGreen: #166D21;
    --lightblue: #76cdff;
    --deepblue: #38b6ff;

    /*set font sizes*/
}

/*Elements*/

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("bg4.jpg");
    background-repeat: repeat-y;
    min-height: 100%;
}

main, nav, footer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    background-color: var(--darkerGreen);
    border-top: var(--lightGreen) 10px solid;
    color: var(--black);
}

main {
    flex: 1; /*????*/
    background-color: var(--white);
}

main > h1 {
    color: var(--black);
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

nav {
    height: 10%;
}

section {
    background-color: var(--white);
    margin-top: 10%;
    color: var(--black);
}

section > h2 {
    font-weight: bold;
}

/*Classes*/

.logo {
    height: 12vh;
    width: 6vw;
}

.navbar {
    background-color: var(--darkerGreen);
    border-bottom: var(--lightGreen) 10px solid;
}

.navbar-item {
    color: var(--black);
    background-color: var(--lightGreen);
}

.navbar-item:hover {
    background-color: var(--darkestGreen);
    color: var(--white);
}

.navbar-image img {
    height: 80px;
}

.custom-box {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
}

.custom-margin { /*for what?*/
    margin-right: 8px;
}

.article-container {
    max-width: 350px;
}

.custom-button {
    background-color: var(--darkestGreen);
    color: var(--white);
}

.custom-button:hover {
    background-color: var(--darkestGreen);
}

.bg-footer {
    background-color: var(--darkerGreen);
    color: var(--black);
}

.bg-footer-top {
    background-color: var(--lightGreen);
}

button:hover {
    background-color: var(--darkGrey);
}

.box-last { /*What is this?*/
    margin-bottom: 1.5rem;
}


a .active {
    background-color: var(--darkerGreen);
}

/*Index*/
images_ind {
    width: 20%;
    height: 20%;
}

/*Cursus details*/
.information_div{
    text-align: left
}
